<center><h1>MareBNB<h1>
<p>Your Horse Will Thank You<p></center>
<br>
<br>
<br>
<br>


<div class="container">
  <div class="row">
    <% Stallion.all.each do |stallion| %>
    <div class="col-xs-12 col-sm-3">
      <div class="card" style="background-image: url(<%= image_url(stallion.image) %>), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2><%= stallion.name %></h2>
          <p><%= stallion.category %>  -  <%= stallion.breed %></p>
        </div>
        <a href="#" class="card-link"></a>
      </div>
    </div>
    <% end %>
  </div>
</div>


