<h1>Stallions#show</h1>
<p>Find me in app/views/stallions/show.html.erb</p>

<%= cl_image_tag("#{@stallion.photo}", alt: "#{@stallion.name}",
width: 300, height: 200, crop: :fill) %>
<% @stallion.name %>

<div>
<%= link_to edit_user_stallion_path do %>
  <button class="btn btn-primary" type="button">Edit Stallion</button>
<% end %>

<p><%= link_to "Delete", user_stallion_path(@stallion.user, @stallion.id), {class: "btn btn-primary", :method => :delete} %></p>
</div>
