<% if @user.id != @stallion.user_id %>

  <%= render 'shared/form_add_booking' %>

<% else %>

<p>You can not book your own Stallion</p>

<%= link_to "Back to my Dashboard", user_path(@user.id), class: "navbar-wagon-item navbar-wagon-button btn" %>

<% end %>
