<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">

      <h1><%= @form_variables[:header] %> Booking</h1>

      <%= simple_form_for [@user, @stallion, @booking] do |f| %>
      <%= f.input :date, as: :date, start_year: Date.today.year,
      end_year: Date.today.year + 2,
      order: [:day, :month, :year]%>
      <%= f.submit value: "Book this stud!", class: "btn btn-primary form-control"%>
      <% end %>
    </div>
  </div>
</div>




            <!-- <input type="date" data-provide="datepicker" data-date-format="dd/mm/yyyy"
            class="form-control" id="date-booking-start" placeholder="date"> -->
          </div>
        </div>

      </div>
      <div>
        <!-- <button type="book" class="btn btn-danger form-group form-control">Send Booking Request</button> -->

      </div>
    </form>
  </div>
</div>


