


.banner {
  object-fit: contain;
  height: 100vh; /* 1vh => 1% of viewport height */
  margin-bottom: 30px;
}

.banner-content {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}
